---
layout: default
title: Home Page
---

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="editable">Nathan's Amazing Agency</h1>
      <hr />
      <p class="editable">High Quality Web Design, SEO and Content Writing for all of your social mediaZ!</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Free Download at Start Bootstrap!</h2>
      <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
    </div>
  </div>
</aside>
